{% extends "base.html" %}

{% block title %}Settings - Local ChatGPT{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/settings.css">
{% endblock %}

{% block content %}
    <div id="settings-body">
        <form id="settings-form">
            <div class="form-group">
                <label for="theme">Theme:</label>
                <select id="theme" name="theme"></select>
            </div>

            <div class="form-group">
                <label for="base-url">Base URL:</label>
                <input type="text" id="base-url" name="base-url" placeholder="Enter base URL">
            </div>

            <h2>Manage Models</h2>

            <div class="form-group">
                <button type="button" id="manage-installed-models">Manage Installed Models</button>
            </div>

            <div class="form-group">
                <button type="button" id="manage-model-presets">Manage Model Presets</button>
            </div>

            <button type="submit" style="margin-top: 2rem;">Save Settings</button>
        </form>
    </div>

    <!-- Modals (Installed Models, Presets, Edit Preset) -->
    {% include "modals.html" %}
{% endblock %}

{% block scripts %}
<script>
    window.settingsData = {{ settings | tojson }};
</script>
<script src="/static/settings.js"></script>
{% endblock %}
